.white-card, .black-card {
    width: 150px;
    height: 250px;
    font-size: 35px;
    text-align: center;
    border: 3px solid black;
    font-weight: bold;
}

.white-card {
    color: black;
    background: #e9e9e8;
}

.black-card {
    color: white;
    background: black;
}